<form action="/" method="POST" class="mt-5 mx-auto w-25">
  <input class="form-control form-control-lg mb-3" type="text" placeholder="類別" aria-label=".form-control-lg example"
    name="category" value="" list="datalistOptions">
  <datalist id="datalistOptions">
    <option value="家居物業">
    <option value="交通出行">
    <option value="休閒娛樂">
    <option value="餐飲食品">
    <option value="其他">
  </datalist> 
</form>